{% extends "base.html" %}
{% load static %}

{% block title %}小学校パトロール{% endblock %}

{% block content %}
<h1>長尾小学校パトロール</h1>

<div class="slideshow-container">
  <div class="slides">
      <img src="{{ cloudinary_url_1 }}" style="width:100%">
  </div>
  <div class="slides">
      <img src="{{ cloudinary_url_2 }}" style="width:100%">
  </div>
  <div class="slides">
      <img src="{{ cloudinary_url_3 }}" style="width:100%">
  </div>
  <div class="slides">
      <img src="{{ cloudinary_url_4 }}" style="width:100%">
  </div>
</div>

{% endblock %}