{% extends "base.html" %}
{% load static %}

{% block title %}小学校パトロール{% endblock %}

{% block content %}
<h1 class="text-center my-4">長尾小学校パトロール</h1>

<div id="slideshow-container" class="mx-auto">
  <div id="slideshow">
    {% if images %}
        {% for image in images %}
            <div class="slide-container">
                <a href="{% url 'topimage_delete' image.pk %}">
                    <img src="{{ image.image.url }}" alt="Image" class="slide">
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">表示する画像がありません。</p>
    {% endif %}
  </div>
</div>

{% endblock %}
