{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="allauth_container">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change allauth_form">
        {% csrf_token %}
        {{ redirect_field }}
        <h2>{% trans "Change Password" %}</h2>
        {{ form | crispy }}
        <input class="btn btn-primary my-3 form-control" type="submit" value="{% trans 'Change Password' %}" />
        <a href="{% url 'account_reset_password' %}" class="btn btn-link">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% endblock %}